.search_form {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 0;
  margin-top: auto;
  border: none;
  width: 60%;
  position: relative;
  top: 5px;
  height: 30px;

  input {
    all: unset;
    font-size: 16px;
    color: black;
    width: 200%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    &::placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
  }
  button {
    all: unset;
  }
  button {
    background-color: rgba(200, 200, 200, 0.5);
    width: 20%;
    height: 28px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 0;
    cursor: pointer;
  }
}
