form {
  max-width: 420px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(200, 200, 200, 0.5);
}

input {
  all: unset;
  padding: 5px 20px;
  background-color: white;
  margin-bottom: 10px;
  font-size: 16px;
  color: black;
  width: 90%;
  &::placeholder {
    color: rgba(0, 0, 0, 0.7);
  }
}

input[type="submit"],
.social_btn {
  padding: 10px 20px;
  color: white;
  text-align: center;
  cursor: pointer;
  display: block;
}

input[type="submit"] {
  background-color: $blue;
  font-weight: 600;
  width: auto;
  margin: 0 auto;
  margin-top: 10px;
}
