.empty_message {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
}

.video_grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth_switch {
  display: inline;
  color: #1a73e8;
  text-align: center;
  margin-top: 50px;
  a:hover {
    text-decoration: underline;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
