.empty_message {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
}

.video_grid {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  width: 85vw;
  margin-left: 5vw;
}

.auth_switch {
  display: inline;
  color: #1a73e8;
  text-align: center;
  margin-top: 50px;
  a:hover {
    text-decoration: underline;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
