.video-mixin {
  padding-bottom: 15px;
  z-index: 0;
  width: 300px;
  height: 250px;
  .video-mixin_thumb {
    height: auto;
    width: 100%;
    z-index: 0;
  }
  .video-mixin_grid {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 5px;
  }
  .video-mixin_avatar {
    margin-top: 10px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
  }
  .video-mixin_data {
    display: flex;
    flex-direction: column;
    .video-mixin_title {
      font-size: 15px;
      display: block;
      margin-top: 12px;
      font-weight: 600;
    }
    .video-mixin_meta {
      font-size: 10px;
    }
  }
  transition-duration: 200ms;
  &:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;
  }
}
