extends base
include mixins/video

block content
    form(method="GET").search_form
        input(placeholder="Search by title",name="keyword", type="text")
        button
            i.fas.fa-search
    div.video_grid
        each video in videos
            +video(video)
        else
            span.empty_message There is no video