extends base.pug

block content
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data", id="upload-form")
        
        label(for="video") 파일 선택
        input(type="file", accept="video/*", required, id="video", name="video")

block scripts
    script(src="/static/js/upload.js")